.default {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;

    text-decoration-line: underline;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;
    text-align: center;
    text-decoration-line: underline;

    color: #0672a8 !important;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        color: #066c9e;
    }
}

.white {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;

    text-decoration-line: underline;

    color: white !important;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        color: #066c9e;
    }
}

.white {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;

    text-decoration-line: underline;

    color: white !important;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        color: #066c9e;
    }
}
